.img
{
    background-image: url("/img/ram3.avif");
    margin-top: ;
    overflow: hidden;
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 10px solid darkkhaki;
    margin-bottom: 0px;
}
#background
{
    background-image: url("/img/flower.jpg");
}
div>h2
{

    margin: 0px 0px 0px 0px;
    background-color:lightgrey;
    font-size: 35px;
    font-family: sans-serif;
    text-align: center;
}
#p1
{ 
    margin:0px;
    background-color: aquamarine;
 

}
#firstbox
{
   margin-top: 1px;
    width: 50%;
    height: 50%;
    border: 5px solid lightpink;
}
